@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --background: 191.1 44% 96.5%;
    --foreground: 191.1 2.2% 8.3%;
    --card: 191.1 22% 96.5%;
    --card-foreground: 191.1 2.2% 13.3%;
    --popover: 191.1 44% 98.3%;
    --popover-foreground: 191.1 97.2% 6.5%;
    --primary: 191.1 42.7% 44.5%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 191.1 18.8% 83%;
    --secondary-foreground: 0 0% 0%;
    --muted: 229.1 18.8% 91.5%;
    --muted-foreground: 191.1 2.2% 38.3%;
    --accent: 229.1 18.8% 86.5%;
    --accent-foreground: 191.1 2.2% 13.3%;
    --destructive: 0 72% 43%;
    --destructive-foreground: 191.1 2.2% 96.5%;
    --border: 191.1 24.4% 70.8%;
    --input: 191.1 24.4% 38.8%;
    --ring: 191.1 88.7% 45.3%;
    --radius: 0.6rem;
    --sidebar-background: 191, 44%, 92%;
    --sidebar-foreground: 191, 2%, 7%;
    --sidebar-primary: 191, 43%, 40%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 229, 19%, 82%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 191, 24%, 67%;
    --sidebar-ring: 181, 98%, 45%;
  }

  .dark {
    --background: 191.1 27.6% 8.3%;
    --foreground: 191.1 2.2% 96.5%;
    --card: 191.1 22% 6.5%;
    --card-foreground: 191.1 2.2% 96.5%;
    --popover: 191.1 27.6% 5%;
    --popover-foreground: 191.1 2.2% 96.5%;
    --primary: 191.1 42.7% 44.5%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 191.1 18.8% 16.5%;
    --secondary-foreground: 0 0% 100%;
    --muted: 229.1 18.8% 21.5%;
    --muted-foreground: 191.1 2.2% 63.3%;
    --accent: 229.1 18.8% 21.5%;
    --accent-foreground: 191.1 2.2% 93.3%;
    --destructive: 0 72% 43%;
    --destructive-foreground: 191.1 2.2% 96.5%;
    --border: 191.1 24.4% 38.8%;
    --input: 191.1 24.4% 38.8%;
    --ring: 191.1 88.7% 45.3%;
    --radius: 0.6rem;
    --sidebar-background: 191, 28%, 11%;
    --sidebar-foreground: 191, 2%, 100%;
    --sidebar-primary: 191, 43%, 36%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 229, 19%, 18%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 191, 24%, 37%;
    --sidebar-ring: 181, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
