@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --background: 169.1 10% 90%;
    --foreground: 169.1 0.5% 5%;
    --card: 169.1 5% 90%;
    --card-foreground: 169.1 0.5% 10%;
    --popover: 169.1 10% 95%;
    --popover-foreground: 169.1 95.5% 0%;
    --primary: 169.1 42.5% 48.4%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 169.1 12% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 207.1 12% 85%;
    --muted-foreground: 169.1 0.5% 35%;
    --accent: 207.1 12% 80%;
    --accent-foreground: 169.1 0.5% 10%;
    --destructive: 0 55% 30%;
    --destructive-foreground: 169.1 0.5% 90%;
    --border: 169.1 21% 50%;
    --input: 169.1 21% 18%;
    --ring: 169.1 88.7% 45.3%;
    --radius: 1rem;
    --chart-1: 196.4 20% 44%;
    --chart-2: 268.4 20% 44%;
    --chart-3: 340.4 20% 44%;
    --chart-4: 52.4 20% 44%;
    --chart-5: 124.4 20% 44%;
    --chart-6: 169.1 30% 50%;
    --chart-7: 220.5 25% 48%;
    --chart-8: 280.3 22% 46%;
    --chart-9: 320.7 28% 42%;
    --chart-10: 15.2 24% 40%;
    --chart-11: 45.8 26% 45%;
    --chart-12: 90.6 22% 43%;
    --chart-13: 150.2 24% 47%;
    --chart-14: 240.9 28% 41%;
    --chart-15: 300.1 25% 45%;

    --sidebar-background: 169, 10%, 86%;
    --sidebar-foreground: 169, 1%, 5%;
    --sidebar-primary: 169, 43%, 44%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 207, 12%, 76%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 169, 21%, 48%;
    --sidebar-ring: 159, 98%, 45%;
  }

  .dark {
    --background: 169.1 10% 9%;
    --foreground: 169.1 0% 98%;
    --card: 169.1 0% 8%;
    --card-foreground: 169.1 0% 98%;
    --popover: 169.1 10% 5%;
    --popover-foreground: 169.1 0% 98%;
    --primary: 169.1 42.5% 48.4%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 169.1 10% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 207.1 10% 23%;
    --muted-foreground: 169.1 0% 64%;
    --accent: 207.1 10% 23%;
    --accent-foreground: 169.1 0% 94%;
    --destructive: 0 50% 46%;
    --destructive-foreground: 169.1 0% 98%;
    --border: 169.1 20% 43.6%;
    --input: 169.1 20% 43.6%;
    --ring: 169.1 88.7% 45.3%;
    --radius: 1rem;
    --chart-1: 196.4 20% 44%;
    --chart-2: 268.4 20% 44%;
    --chart-3: 340.4 20% 44%;
    --chart-4: 52.4 20% 44%;
    --chart-5: 124.4 20% 44%;
    --chart-6: 169.1 30% 50%;
    --chart-7: 220.5 25% 48%;
    --chart-8: 280.3 22% 46%;
    --chart-9: 320.7 28% 42%;
    --chart-10: 15.2 24% 40%;
    --chart-11: 45.8 26% 45%;
    --chart-12: 90.6 22% 43%;
    --chart-13: 150.2 24% 47%;
    --chart-14: 240.9 28% 41%;
    --chart-15: 300.1 25% 45%;
    --sidebar-background: 169, 10%, 12%;
    --sidebar-foreground: 169, 0%, 100%;
    --sidebar-primary: 169, 43%, 39%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 207, 10%, 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 169, 20%, 41%;
    --sidebar-ring: 159, 98%, 45%;
  }
  /* :root {
    --background: 191.1 44% 96.5%;
    --foreground: 191.1 2.2% 8.3%;
    --card: 191.1 22% 96.5%;
    --card-foreground: 191.1 2.2% 13.3%;
    --popover: 191.1 44% 98.3%;
    --popover-foreground: 191.1 97.2% 6.5%;
    --primary: 191.1 42.7% 44.5%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 191.1 18.8% 83%;
    --secondary-foreground: 0 0% 0%;
    --muted: 229.1 18.8% 91.5%;
    --muted-foreground: 191.1 2.2% 38.3%;
    --accent: 229.1 18.8% 86.5%;
    --accent-foreground: 191.1 2.2% 13.3%;
    --destructive: 0 72% 43%;
    --destructive-foreground: 191.1 2.2% 96.5%;
    --border: 191.1 24.4% 70.8%;
    --input: 191.1 24.4% 38.8%;
    --ring: 191.1 88.7% 45.3%;
    --radius: 0.6rem;
    --sidebar-background: 191, 44%, 92%;
    --sidebar-foreground: 191, 2%, 7%;
    --sidebar-primary: 191, 43%, 40%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 229, 19%, 82%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 191, 24%, 67%;
    --sidebar-ring: 181, 98%, 45%;
  }

  .dark {
    --background: 191.1 27.6% 8.3%;
    --foreground: 191.1 2.2% 96.5%;
    --card: 191.1 22% 6.5%;
    --card-foreground: 191.1 2.2% 96.5%;
    --popover: 191.1 27.6% 5%;
    --popover-foreground: 191.1 2.2% 96.5%;
    --primary: 191.1 42.7% 44.5%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 191.1 18.8% 16.5%;
    --secondary-foreground: 0 0% 100%;
    --muted: 229.1 18.8% 21.5%;
    --muted-foreground: 191.1 2.2% 63.3%;
    --accent: 229.1 18.8% 21.5%;
    --accent-foreground: 191.1 2.2% 93.3%;
    --destructive: 0 72% 43%;
    --destructive-foreground: 191.1 2.2% 96.5%;
    --border: 191.1 24.4% 38.8%;
    --input: 191.1 24.4% 38.8%;
    --ring: 191.1 88.7% 45.3%;
    --radius: 0.6rem;
    --sidebar-background: 191, 28%, 11%;
    --sidebar-foreground: 191, 2%, 100%;
    --sidebar-primary: 191, 43%, 36%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 229, 19%, 18%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 191, 24%, 37%;
    --sidebar-ring: 181, 98%, 45%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
